.add-test-card{
    width: 200px;
    height: 300px;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 4px 0 0 rgba(143,156,173,.2);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
        font-size: 18px;
    }
    &_img{
        width: fit-content;
        margin: auto;
        img{
            object-fit: cover;
        }
    }
    &:hover{
        opacity: 0.9;
    }

}


.test-card-admin{
    width: 200px;
    height: 300px;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 4px 0 0 rgba(143,156,173,.2);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .delete-test{
        transition: 0.3s scale;
        &:hover{
            scale: 1.25;
        }
    }
    p{
        text-align: center;
        font-size: 15px;
    }
    &_img{
        width: fit-content;
        margin: auto;
        img{
            object-fit: cover;
        }
    }

}

.list-test-card{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.table{
    font-size: 30px;
}

.set-name{
    display: block;
}