.setItem{
    padding: 10px;
    width: 90%;
    background-color: rgb(192, 192, 192);
    margin: auto;
    margin-top: 10px;
}

.addSet{
    width: 500px;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    border: ridge 1px black;
    background-color: rgb(250, 250, 136);

    input{
        margin: 5px;
        border-radius: 10px;
        padding: 3px;
        background-color: rgb(224, 224, 255)
    }

    .addsetbtn{
        height: fit-content;
        width: fit-content;
        background-color: rgb(252, 137, 137);
        padding: 0px 5px 0px 5px;
        line-height: 40px;
        font-size: 15px;
        border-radius: 10px;
        color: white;
    }

}

.setTable{
    max-height: 1000px;
    padding: 20px;
    overflow: scroll;
    filter: drop-shadow(0 0 0.3rem rgb(80, 80, 80));
    table{
        border-collapse: collapse;

    }
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    width: 82% !important;
    td,th{
        background-color: rgb(219, 219, 252) !important;
        border: ridge 1px rgb(143, 143, 143);
        font-size: 25px !important;
    }
    
}



.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
    padding: 30px;
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
//   flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
}
.olcards li {
width: fit-content;
  counter-increment: cardCount;
  display: flex;
  color: white;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  margin: auto;
  margin-top: var(--labelOffset);

}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}

.olcards li .content {
display: flex;
width: 400px;
font-size: 20px;
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}
.olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.olcards li .content::after {
  content: "";
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}
.olcards li .icon {
  grid-area: icon;
  align-self: center;
  font-size: 2em;
}
.olcards li .content .title {
  grid-area: title;
  font-size: 1.25em;
  /* font-weight: 700; */
}
.olcards li .content .text {
  grid-area: text;
}
